<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/nav.ejs %> 
    <h1><%= title %></h1>
    <p>These are the <%= title %> that we do</p>
  </body>
</html>
